.main-page-container {
  display: flex;
  flex-direction: column;
}

.main-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .main-page-container {
    flex-direction: column;
  }
}