.main-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.hit-maker-logo {
  font-size: 32px;
  width: 60px;
}

@media (max-width: 768px) {
  .main-page-container {
    flex-direction: column;
  }
}